@import url('http://fonts.googleapis.com/css?family=Lato:900,700');
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 0.85em;
	font-family: 'Droid Sans', sans-serif;
	background: #f4f4f4;
}

header {
	padding: 17% 15%;
	background: url(../img/fondo.jpg) center center;
	background-size: cover;
}

.contain-to-grid {
	background: #085a78;
}

.top-bar {
	background: inherit;
}

header h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
}

header h2 {
	font-size: 2.7em;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

section {
	padding: 3% 15%;
}

.intro {
	background: #e6eef1;
	text-transform: uppercase;
	font-size: 1.7em;
	border-bottom: 1px solid #ccc;
}

h2 {
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 400;
	color: #085a78;
}

p {
	font-size: 0.9em;
	text-align: justify;
}
footer {
	background: #085a78;
	padding: 2% 15%;
	color: #fff;
}

footer a {
	color: inherit;
}